<div class="jumbotron">
  <div class="container">
  </div>

  <div class="top-title">
    <h1 class="text-white text-center">
      Where've you been?
    </h1>
  </div>

  <div class="top-authentication text-center">
    <div class="top-authentication__sign-up-btn m-3">
      <%= link_to "create an account", new_user_registration_path, class: "btn text-white" %>
    </div>
    <div class="top-authentication__sign-in-btn m-3">
      <%= link_to "log in", new_user_session_path, class: "btn bg-none text-white" %>
    </div>
  </div>
</div>