<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'log out', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'log in', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'create an account', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
