.shwbtn {
  width: 90px;
}

.buttons {
  width: 80%;
}

.comment-text-form {
  margin-left: 30px;
  height: 32px;
  width: 73%;
}

.comment-text {
  font-size: 16px;
}

.case {
  border-bottom: solid 1px #159eb3;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.my-gray {
  color: lightgray;
}

.my-pink {
  color: #ff6699;
}

.like-text {
  color: black;
  font-size: 15px;
  padding-bottom: 1px;
}

.my-size {
  font-size: 1.2rem;
}
