.shwbtn {
  width: 90px;
}

.buttons {
  width: 80%;
}

.comment-text-form {
  margin-left: 30px;
  height: 32px;
  width: 73%;
}

.comment-text {
  font-size: 16px;
}

.case {
  border-bottom: solid 1px #159eb3;
}
